@charset "utf-8";
body{margin: 0;}
menu, ul{list-style: none; margin: 0; padding: 0;}
a{text-decoration: none; color: inherit;}

/**** header ****/


/**** main ****/
/****  ****/


/**** footer ****/