@charset "utf-8";

body, h1, h2, h3, h4, h5, p{
  margin: 0; padding: 0;
  font-family: '나눔스퀘어라운드', '맑은고딕', 돋움, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333333;
}
ul, menu {list-style: none; margin: 0; padding: 0;}
a{text-decoration: none; color: inherit;}
/* main */
section{margin: 45px 26px;}
h3{font-size: 1.8rem; line-height: 35px; margin-top: 5px;}
h4{color: #F5805A; font-size: 18px; font-weight: 600;}


/* header */
header{ 
  position: sticky;
  top: 0;
  height: 100%;
  z-index: 100;
  border-bottom: 1px solid #e8e8e8;
}
.h-wrapper{
  width: 100%;
  background-color: #fff;
  /* border-bottom: 2px solid #e8e8e8; */
  display: flex;
  flex-flow: column wrap;
  align-content: center;
}
.h-wrapper h1{
  width: 91vw;
}
.h-wrapper h1 a{
  display: inline-block;
}
.h-wrapper h1 a img{
  width: 80px;
  object-position: 0 3px;
}
.nav .navicon a img{
  display: block;
  width: 20px;
  padding: 20px 0;
  position: absolute;
  top: 0; right: 5%;
  object-position: 0 4px;
}
.navicon{
  display: flex;
  flex-flow: column;
  align-items: center;
}
.navicon:hover .dropmenu{
  display: block;
}
.navicon .dropmenu{
  background-color: #fff;
  text-transform: uppercase;
  display: none;/* 드롭다운메뉴 */
}

.navicon .dropmenu li a{
  width: 89vw;
  font-weight: 600;
  display: block;
  color: #333333;
  font-size: 17px;
  border-bottom: 1px solid #e8e8e8;
  padding: 13px 5px;
}
.navicon .dropmenu li:hover a{
  color: #F5805A;
}
.navicon .dropmenu li:nth-child(9) a{
  border: none;
}

/**** main ****/
/**** page1 ****/
main .intro{
  text-align: center;
  background: url(../images/hero-1.jpg) 60% / cover;
  height: 90vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  position: relative;
}
main .intro .intro-title{
  width: 310px;
}
main .intro .intro-title button{
  border: 1px solid #fff;
  background-color: #00000000;
  border-radius: 50%;
  cursor: pointer;
  padding: 10px;
  width: 45px; height: 45px;
  transition: 0.3s;
}
main .intro .intro-title button:hover{background-color: #F5805A;border-color: #F5805A;}
main .intro .intro-title button img{width: 20px; height: 20px;}
main .intro .intro-title .L-btn{
  position: absolute;
  top: 45%; left: 20px;
}
main .intro .intro-title .R-btn{
  position: absolute;
  top: 45%; right: 20px;
}
main .intro h2{
  line-height: normal;
  font-size: 33px;
  font-weight: 900;
  padding-bottom: 30px;
  color: #fff;
}
main .intro .intro-txt{padding-bottom: 30px; color: #fff;}
main .intro .intro-btn a{
  display: block;
  border: 2px solid #fff;
  border-radius: 4px;
  width: 130px; height: 40px;
  line-height: 40px;
  margin: 15px auto;
  color: #fff;
  transition: 0.3s;
  font-weight: 900;
}
main .intro .intro-btn:hover a{
  background-color: #fff;
  color: #333;
}
/* page2 */
.tab-section ul{
  display: flex;
  gap: 10px;
  margin: 25px 0 20px 0;
}
.tab-section ul li a{
  display: block;
  border: 1px solid #dbdbdb;
  border-radius: 32px;
  padding: 16px 18px;  
  color: #9e9e9e;
  font-weight: 700;
  font-size: 18px;
}
.tab-section ul li:nth-child(1) a{
  border-color: #F5805A;
  background-color:
  #F5805A;
  color: #fff;
  box-shadow:
  0px 2px 54px -7px rgba(0, 0, 0, 0.31)
;
}
.tab-section p img{
  width: 100%;
  object-fit: cover;
  border-radius: 55px;
}
/* page3 */
.service{
  display: block;
  margin: 0;
  padding: 50px 16px;
  background-color: #F8F9FA;
  box-sizing: border-box;
}
.service .service-title{
  padding: 25px;
  padding: 25px;
}
.service .service-box{
  padding: 13px;
}
.service .service-box ul{
  width: 100%;
}
.service .service-box ul li{
  background-color: #ffffff;
  padding: 24px;
  margin: 30px 0;
   height: 30%;
  border-radius: 30px;
  transition: 0.3s;
}
.service .service-box ul li:hover{
  box-shadow:
  0px 1.3px 5.4px -7px rgba(0, 0, 0, 0.02),
  0px 4.2px 18.1px -7px rgba(0, 0, 0, 0.056),
  0px 19px 81px -7px rgba(0, 0, 0, 0.12)
;
}
.service .service-box ul li img{
  margin-bottom: 15px;
  width: 30px;
}
.service .service-box ul li h5{
  font-weight: 900;
  font-size: 18px;
  margin-bottom: 15px;
}
.service .service-box ul .pixel{background-color: #333;}
.service .service-box ul .pixel h5, .service .service-box ul .pixel p{color: #fff;}


/**** page4 ****/
.multi-popup{
  display: flex;
  flex-flow: column;
  margin: 55px 26px;
}
.multi-title{
  margin-bottom: 20px;
}
.multi-content{
  display: flex;
  flex-flow: column;
  align-items: center;
}
.multi-content li{
  z-index: 1;
}

.multi-content .img-wrap{
  position: relative;
}
.multi-content > .img-wrap > .img-bg > img{
  width: 80vw; 
  border-radius: 55px;
  box-sizing: border-box;
  margin: 20px auto;
  vertical-align: middle;
}
.multi-content > .img-wrap > .img-icon{
  position: absolute;  
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}
.multi-content > .img-wrap > .img-icon > a {
  display: block;
  background-color: #fff;
  width: 70px; height: 70px;
  border-radius: 50%;
  text-align: center;
  line-height: 80px;   
  transition: 0.3s;
}
.multi-content > .img-wrap > .img-icon:hover > a {
  box-shadow:
  0px 0.8px 4.3px rgba(0, 0, 0, 0.16),
  0px 6px 34px rgba(0, 0, 0, 0.32)
;
  transform: scale(1.1);
}
.multi-content > .img-wrap > .img-icon > a > img{
  width: 20px;
}
.multi-content .img-txt {
  text-align: center;
  margin-top: 15px;
}
.multi-content .img-txt h5{
  font-size: 18px;
  font-weight: 900;
}
.multi-content .img-txt p{
  font-size: 17px;
  font-weight: 600;
}
/* multi 슬라이더 버튼 */
.slider-btn{
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.slider-btn li .slider-dot{
  display: inline-block;
  width: 50px; height: 10px;
  background-color: #e8e8e8;
  border-radius: 20px;
  border: none;
  margin: 5px;
}
.slider-btn li:nth-child(1) .slider-dot{
  background-color: #F5805A;
}

/**** page5-1 ****/
.youtube-bg{
  display: block;
  margin: 0;
  padding: 30px;
  padding-top: 0;
  background-color: #F8F9FA;
  box-sizing: border-box;
}
.video{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.video .video-title{
  position: absolute;
  z-index: 2;
}
.video h4{font-weight: 600;}
.video h3{font-weight: 900; color: #fff;}
.video .video-title p{margin-top: 40px; width: 100%;}
.video .video-title p a{
  display: block;
  border: 2px solid #ffffff;
  border-radius: 5px;
  width: 130px; height: 40px;
  padding: 3px 15px;
  line-height: 40px;
  margin: 0 auto;
  color: #fff;
  font-weight: 900;
  transition: 0.3s;
}
.video .video-title p:hover a{
  background-color: #fff;
  color: #333;
}
.video .video-bg video{
  border-radius: 60px;
  width: 90vw; height: 55vh;
  object-fit: cover;
  overflow: hidden;
  z-index: -1;
}
/**** page5-2 ****/
.img img[alt=img-mockup]{
  object-fit: cover;
  width: 100%;
  margin-top: 50px;
}
.img .img-txt{
  margin-top: 60px;
}
.img ul li{
  box-sizing: border-box;
  margin: 0 0 30px 0;
  display: flex;
  align-items: flex-start;
}
.img ul li img{
  display: block;
  object-fit: cover;
  width: 23px;
  margin-right: 18px;
}
.img ul li p{
  font-size: 15px;
}
.img .img-btn{
  display: flex;
  gap: 2px;
}
.img .img-btn li {
  margin: 0;
  display: flex;
}
.img .img-btn li button{
  width: 50px; height: 50px;
  border: none;
}
.img .img-btn li:hover button{
  background-color: #c2c2c2;
}
.img .img-btn li button img{
  object-fit: cover;
  width: 75%;
  margin: auto;
}

/**** page6 ****/
.notice-board{
  margin: 0;
  padding: 40px 20px;
  border-bottom: 1px solid #e8e8e8;
}
.notice-board h4{
  font-size: 24px;
  color: #333333;
}
.notice-board a{
  color: #F5805A;
  font-size: 32px;
}
.notice-board a:hover{
  color: #333333;
}
.notice-board .notice-list{
  padding: 0 10px;
  margin-bottom: 40px;
}
.notice-board .notice-list .list li a{
  display: block;
  color: #333333;
  font-size: 15px;
  border-bottom: 1px solid #e8e8e8;
  padding: 13px;
}
.notice-board .notice-list .list li:hover a{
  color: #F5805A;
  
}
.notice-board .notice-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.notice-board .gallery{
  padding: 0 10px;
  margin-bottom: 10px;  
}
.notice-board .gallery .gallery-imgs{
  display: flex;
  
}
.notice-board .gallery .gallery-imgs figure{
  margin: 15px;
  text-align: center;
}
.notice-board .gallery .gallery-imgs figure img{
  object-fit: cover;
  width: 100%;
  border-radius: 30px;
  margin-bottom: 10px;
}
.notice-board .gallery .gallery-imgs figure figcaption a{
  font-size: 15px;
  color: #333333;
}
.notice-board .gallery .gallery-imgs figure figcaption:hover a{
  color: #F5805A;
}

/* page7 */
.map-section{
  background-color: #F8F9FA;
  margin: 0;
}
.map-section .map{
  padding: 50px 20px;
}
.map-section .map .map-title{
  margin: 0 10px;
}
.map-section .map-wrapper{
  padding: 50px 20px 20px 20px;
  margin: 0 10px;
}
.map-section .map-wrapper li{
  margin-bottom: 30px;
}
.map-section .map-wrapper li h5{
  font-size: 18px;
  margin-bottom: 7px;
}
.map-section .map-wrapper li p{
  font-size: 16px;
  line-height: 1.8;
}
.map-section .map .root_daum_roughmap{
  border-radius: 50px;
  width: 100%; height: 43vh;
  margin-top: 30px;
  display: block;
  box-shadow:
  0px 0.8px 7.8px rgba(0, 0, 0, 0.082),
  0px 2.7px 26.4px rgba(0, 0, 0, 0.115),
  0px 12px 118px rgba(0, 0, 0, 0.22)
;
}

/* page8 */
.contact-us{
  padding-bottom: 30px;
}
.contact-us .contact-title h3{
  margin-bottom: 18px;
}
.contact-us .contact-title p{
  font-size: 16px;
}
.contact-us form{
  padding: 15px 0;
}
.contact-us form .txt-box{
  margin-bottom: 20px;
  width: 100%;
}
.contact-us form .txt-box label{
  font-weight: 700;
  font-size: 16px;
  padding-bottom: 7px;
  display: inline-block;
}
.contact-us form .txt-box input{
  border: none;
  background-color: #F8F9FA;
  width: 100%;
  outline: none;
  padding: 15px;
  box-sizing: border-box;
}
.contact-us form .txt-box textarea{
  border: none;
  background-color: #F8F9FA;
  min-width: 100%;
  max-width: 100%;
  outline: none;
  padding: 15px;
  box-sizing: border-box;
}
.contact-us button{
  border: none;
  background-color: #333;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  width: 100%;
  outline: none;
  padding: 18px;
  box-sizing: border-box;
}
.contact-us button:hover{
  background-color: #F5805A;
  text-shadow: 2px 2px 2px #3333331c;
 
}

/* footer */
footer{
  background-color: #222222;
  color: #6d6d6d;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  padding: 45px 0;
}
footer address a{
  font-style: normal;

}
footer .copy{
  font-size: 15px;
  text-align: center;
  padding-bottom: 30px;
}