@charset "uft-8";

h1{
  font-family: '나눔고딕', '나눔스퀘어', 돋움,sans-serif;
  font-size: 27px;
  font-weight: bold;
  line-height: 35px;
  background-color: rgb(0, 207, 121);
  color: #fff;
  text-align: center;
}
body{
  font-family: '나눔고딕', '나눔스퀘어', 돋움, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

#one{
  font-size: 17px;
  text-decoration: underline;
  color: rgb(253, 109, 13);
}
div{
  font-size: 13px;
  font-weight: bold;
  color: red;
}
a{
  font-size: 25px;
  text-decoration: none;
  background-color: rgb(0, 0, 0);
  color: #fff;
}
#two{
  font-size: 20px;
  text-align: center;
  text-decoration: underline;
  color: rgb(253, 109, 13);
}
h3{
  background-color: lightgreen;
  color: rgb(16, 141, 89);
  text-align: right;
  line-height: 26px;
}
#box1{
  background-color: rgb(224, 224, 224);
  text-align: center;
}
#box2{
  background-color: rgb(224, 224, 224);
}
.list1{
  background-color: rgb(255, 238, 141);
}
.list3{
  background-color: rgb(255, 238, 141);
}
.memo{
  color: red;
  font-size: 13px;
}